*  {
    box-sizing: border-box;
  }
  
  html {
    font-size: 15px; 
  }
  
  main {
    width: 100%;
    background-color: #f5f3eb;
    font-family: Lato, sans-serif;
    color: #323332;
    height: 100%;
    border-radius: 0.5%;
    text-align: center;
    margin: 30px 0;
    padding: 20px 0;
  }
  
  h1  {
    font-size: 2.5rem;
    font-weight: 700;
  }
  
  h2  {
    font-size: 1.1rem;
    font-weight: 400;
  }
  
  h3 {
    font-size: 1.3rem;
    padding-top: 40px;
  }
  
  img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
    padding-bottom: 15px;
  }
  
  #img-div {
    background-color: white;
    margin: 15px;
    padding: 20px;
  }
  
  #timeline {
    max-width: 600px;
    padding: 30px;
    font-size: 1.05rem;
    margin: 0 auto;
    text-align: left;
  }
  
  ul  {
    line-height: 40px;
    margin-bottom: 50px;
  }
  
  blockquote { 
    margin-left: 20px;
    color: #5c594a;
    font-weight: 700;
  }
  
  footer {
    font-size: 1.3rem;
    font-weight: 700;
    padding-bottom: 20px;
  }
  
  a {
    text-decoration: none;
    color: #857529;
  }
  
  a:visited {
    color: #8a856a;
  }
  
  